body {
    background-color: #0F0F1A;
    color: #EAEAEA;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #1B1B2A;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    color: #F6F5F5;
    text-decoration: none;
    background-color: #4E4E6D;
    border-radius: 4px;
    margin: 5px;
}

nav a:hover {
    background-color: #F6F5F5;
    color: #1B1B2A;
}

#profile-skill-area {
    margin-top: 20px;
}

#img-area {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #4E4E6D;
    padding: 20px;
    width: 250px;

}

#img-area img {
    width: 150px;
    height: 150px;
    border: 4px solid #F6F5F5;
}

#img-area h5 {
    margin-top: 10px;
    margin-bottom: 5px;
}

#skill {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    background-color: #1B1B2A;
    width: 635px;
    margin-left: 30px;
    height: 190px;
}

#skill h2 {
    text-align: center;
}

#skill ul {
    text-align: left;
}

#experience, #projects, #certification, #internship, #contacts {
    padding: 20px;
    background-color: #1B1B2A;
    margin-top: 20px;
}

#experience h2, #projects h2, #certification h2, #internship h2, #contacts h2 {
    text-align: center;
}

#projects {
    background-color: #2C2C3E;
    text-align: center;
}

.project {
    display: inline-block;
    background-color: #1B1B2A;
    border: 1px solid #4E4E6D;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #EAEAEA;
    width: 250px;
    height: 250px;
    vertical-align: top;
}

.project h3 {
    margin: 10px 0;
}

.project-icon {
    width: 80px;
    height: 50px;
}

#container1 {
    margin-top: 20px;
    background-color: #1B1B2A;
    padding: 20px;
    text-align: center;
}

#certification, #internship {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    box-sizing: border-box;
    margin: 10px 5px;
}

#certification h2, #internship h2 {
    text-align: center;
}

.small-icon {
    width: 80px;
    height: 30px;
    display: inline-block;
    margin-top: 5px;
}

#contacts {
    text-align: center;
}

.contact-icons a {
    display: inline-block;
    padding: 10px;
    margin: 0 20px;
}

.icon {
    width: 40px;
    height: 40px;
}

#skill:target, #internship:target, #certification:target, #contacts:target, #projects:target, #experience:target{
    background-color: rgb(6, 32, 15);
}